#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=OpenGrind
Exec=/home/colby/src/opengrind/bin/opengrind-wrapper
Icon=/home/colby/src/opengrind/icons/512x512/apps/opengrind.png
Actions=Debug

[Desktop Action Debug]
Name=Run With Debug Console
Exec=/home/colby/src/opengrind/bin/opengrind-wrapper
Terminal=true
