@font-face {
	font-family: "Roboto";
	src: url('../common/roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: "Roboto Bold";
	src: url('../common/roboto/Roboto-Bold.ttf');
}

@font-face {
	font-family: "Roboto Light";
	src: url('../common/roboto/Roboto-Light.ttf');
}

@font-face {
	font-family: "Roboto Black";
	src: url('../common/roboto/Roboto-Black.ttf');
}
